name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: 23f2004343@ds.study.iitm.ac.in
        run: echo "Hello, world!"
